<footer class="footer">

  <div class="container footer__container">
    <div class="footer__box-one">
      <p class="footer__text-one footer__text">© 2022</p>
      <p class="footer__text-one footer__text">Всі права захищені</p>
    </div>
    <div class="footer__box-two">
      <p class="footer__text">Розроблено з</p>
      <svg class="footer__svg">
        <use href="./images/svg/films-svgs.svg#icon-heart"></use>
      </svg>
      <p class="footer__text">від&nbsp;</p>
      <p class="footer__text team-modal js-team-modal">GoIT Students</p>
    </div>
  </div>
</footer>
