<header class="header-lib">
  <div class="container">
    <div class="navigation-wrapper">
      <a class="header__link" href="./index.html">
        <svg class="header__logo" width="24" height="24">
          <use href="./images/svg/films-svgs.svg#icon-film"></use>
        </svg>
        <span class="header-home__title">Фільмотека</span>
      </a>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link" href="./index.html">На головну</a>
          </li>
          <li class="nav__item active">
            <a class="nav__link" href="./library.html">Моя бібліотека</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="lib-btns">
      <button class="btn btn__lib js-btn-watched" type="button">
        переглянуті</button
      ><button class="btn btn__lib js-btn-queue" type="button">черга</button>
    </div>
  </div>
</header>
